{% load static %}

<!doctype html>
<html lang="en">


  <head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
    <link href="https://kit-pro.fontawesome.com/releases/v5.10.2/css/pro.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}" > -->
    <link rel="stylesheet" href="https://files.catbox.moe/wl29kv.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    
    
    <title>Yoga Pratama</title>
    <style>
      .yoga {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      @media only screen and (max-width: 1000px) {
        .yoga {
          flex-direction: column;
        }
      }
    </style>
  </head>
  <body>
    <nav class="nav">
      <div class="burger">
        <div class="burger__patty"></div>
      </div>
    
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#home" class="nav__link c-blue"><i class="fas fa-smile"></i></a>
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link c-yellow scrolly"><i class="fas fa-address-book"></i></a>
        </li>
        <li class="nav__item">
          <a href="#timeline" class="nav__link c-#182C61 scrolly"><i class="fas fa-hourglass-end"></i></a>
        </li>
        <!-- <li class="nav__item">
          <a href="#3" class="nav__link c-red"><i class="fa fa-music"></i></a>
        </li>
        <li class="nav__item">
          <a href="#4" class="nav__link c-green"><i class="fa fa-paper-plane"></i></a>
        </li> -->
      </ul>
    </nav>
    <section class="panel b-blue" id="home">
      <div class="yoga">
        <div style="width: 60%">
          <article class="panel__wrapper">
            <div class="panel__content">
              <h1 class="panel__headline"><i class="fas fa-smile"></i>&nbsp;Hello! I'm Yoga</h1>
              <div class="panel__block"></div>
              <!-- <p class="fas fa">&nbsp; &nbsp;&nbsp;  April 21st 2000</p> -->
              <!-- <br> -->
              <p class="fas fa-male">&emsp;&ensp; Ahmad Haulian Yoga Pratama</p>
              <br>
              <p class="fas fa-birthday-cake">&nbsp; &nbsp;&nbsp;  April 21st 2000 (19 years old)</p>
              <br>
              <p class="fas fa-id-card">&nbsp; &nbsp; 1806133824</p>
              <br>
              <p class="fas fa-graduation-cap">&ensp;&nbsp;Universitas Indonesia</p>
              <br>
              <p class="fas fa-gamepad">&ensp;&nbsp;Gaming, playing basketball & wasting time</p>
              <p>A student of computer science with experiences in Competitive Programming and interests in Arificial Intelligent.</p>
            </div>
          </article>
        </div>
        <div style="width: 40%">
          <!-- <img src="{% static 'images/foto.png' %}" -->
          <img src = "https://files.catbox.moe/c6imdn.png"
          style="border:none; width: 100%;" alt="Null"/>
        </div>
            
      </div>
    </section>
    <section class="panel b-yellow" id="contact">
      <article class="panel__wrapper">
        <div class="panel__content">
          <h1 class="panel__headline"><i class="fas fa-address-book"></i>&nbsp;Contact</h1>
          <div class="panel__block"></div>
          <p class="fas fa-phone-square-alt">&nbsp; (+62)821-1347-4932</p>
          <br>
          <p class="fas fa-envelope">&nbsp;<a href="mailto:pratamay735@gmail.com" style="text-decoration: none; color:black;" > pratamay735@gmail.com</a></p>
          <br>
          <p class="fab fa-facebook">&nbsp;<a href="https://facebook.com/yogahmad" style="text-decoration: none; color:black;" > yogahmad</a></p>
          <br>
          <p class="fab fa-linkedin">&nbsp;<a href="https://www.linkedin.com/in/yogahmad" style="text-decoration: none; color:black;" > yogahmad</a></p>
          <p>You can contact me here. I'm mostly active on email.</p>
        </div>
      </article>
    </section>
    <section class="panel #182C61" id="timeline">
        <article class="panel__wrapper">
          <div class="panel__content">
            <h1 class="panel__headline"><i class="fas fa-hourglass-end"></i>&nbsp;Timeline</h1>
            <section class="timeline">
              <ol>
                <li>
                  <div>
                    <time>21 April 2000</time> Saya lahir di Sibolga
                  </div>
                </li>
                <li>
                  <div>
                    <time>Juli 2003</time> Masuk TK
                  </div>
                </li>
                <li>
                  <div>
                    <time>Juli 2006</time> Masuk SD
                  </div>
                </li>
                <li>
                  <div>
                    <time>Februari 2012</time> Pindah dari Sibolga ke Magelang
                  </div>
                </li>
                <li>
                  <div>
                    <time>Juni 2012</time> Lulus SD
                  </div>
                </li>
                <li>
                  <div>
                    <time>Juli 2012</time> Masuk SMP
                  </div>
                </li>
                <li>
                  <div>
                    <time>Mei 2014</time> OSN SMP Matematika 2014
                  </div>
                </li>
                <li>
                  <div>
                    <time>Juni 2015</time> Lulus SMP
                  </div>
                </li>
                <li>
                  <div>
                    <time>Juli 2015</time> Masuk SMA
                  </div>
                </li>
                <li>
                  <div>
                    <time>Juni 2017</time> OSN SMA Komputer 2017
                  </div>
                </li>
                <li>
                  <div>
                    <time>Mei 2018</time> Lulus SMA
                  </div>
                </li>
                <li>
                  <div>
                    <time>September 2018</time> IOI 2018 Jepang
                  </div>
                </li>
                <li>
                  <div>
                    <time>September 2018</time> Masuk UI
                  </div>
                </li>
                <li></li>
              </ol>
              
              <div class="arrows">
                <button class="arrow arrow__prev disabled" disabled>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_prev.svg" alt="prev timeline arrow">
                </button>
                <button class="arrow arrow__next">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_next.svg" alt="next timeline arrow">
                </button>
              </div>
            </section>
          </div>
        </article>
      </section>
    <!-- <section class="panel b-red" id="3">
      <article class="panel__wrapper">
        <div class="panel__content">
          <h1 class="panel__headline"><i class="fa fa-music"></i>&nbsp;Music</h1>
          <div class="panel__block"></div>
          <p>Beard sriracha kitsch literally, taxidermy normcore aesthetic wayfarers salvia keffiyeh farm-to-table sartorial gluten-free mlkshk. Selvage normcore 3 wolf moon, umami Kickstarter artisan meggings cardigan drinking vinegar bicycle rights.</p>
        </div>
      </article>
    </section>
    <section class="panel b-green" id="4">
      <article class="panel__wrapper">
        <div class="panel__content">
          <h1 class="panel__headline"><i class="fa fa-paper-plane"></i>&nbsp;Paper Planes</h1>
          <div class="panel__block"></div>
          <p>90's wayfarers lomo you probably haven't heard of them trust fund banh mi. Flannel Shoreditch dreamcatcher, quinoa flexitarian Banksy pickled post-ironic lo-fi. Photo booth asymmetrical tousled letterpress.</p>
        </div>
      </article>
    </section> -->
    <!-- <a href="http://ettrics.com/code/vertical-layout-navigation/" class="logo" target="_blank"> -->
     <!-- <img class="logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/ettrics-logo.svg" alt="" />  -->
    <!-- </a> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- <script src = "{% static 'js/script.js' %}"></script> -->
    <script src = "https://files.catbox.moe/fgxpdb.js"></script>
    

  </body>
</html>